version: '3.8'

services:
  postgres:
    image: postgres:17-alpine
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  redis:
    image: redis:7.4.6-alpine3.21
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --save 20 1 --loglevel warning --requirepass ${REDIS_PASSWORD}
    env_file:
      - .env
  minio:
      image: minio/minio:RELEASE.2025-04-22T22-12-26Z-cpuv1
      restart: unless-stopped
      environment:
        MINIO_ROOT_USER: ${MINIO_USER}
        MINIO_ROOT_PASSWORD: ${MINIO_PASSWORD}
      ports:
        - "9000:9000"
        - "9001:9001"
      volumes:
        - ./minio_data:/data
      command: server /data --console-address ":9001"


volumes:
  postgres_data:
  minio_data:
  redis_data: